*.aux
*.cp
*.cps
*.doc
*.dvi
*.exe
*.fn
*.fns
*.go
*.info
*.info-[0-9]*
*.ky
*.la
*.lo
*.log
*.o
*.pg
*.pgs
*.rn
*.rns
*.toc
*.tp
*.tps
*.trs
*.vr
*.vrs
*.x
*~
,*
.deps
.libs
.pc
.tarball-version
/.sc-start-*
/.version
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/build-aux/ar-lib
/build-aux/test-driver
/debian/.debhelper/
/debian/autoreconf.after
/debian/autoreconf.before
/debian/debhelper-build-stamp
/debian/files
/debian/guile-2.2-dbgsym/*
/debian/guile-2.2-dev.install
/debian/guile-2.2-dev.lintian-overrides
/debian/guile-2.2-dev.substvars
/debian/guile-2.2-dev/*
/debian/guile-2.2-doc.install
/debian/guile-2.2-doc.substvars
/debian/guile-2.2-doc/*
/debian/guile-2.2-libs-dbgsym/*
/debian/guile-2.2-libs.install
/debian/guile-2.2-libs.lintian-overrides
/debian/guile-2.2-libs.postinst
/debian/guile-2.2-libs.prerm
/debian/guile-2.2-libs.substvars
/debian/guile-2.2-libs.triggers
/debian/guile-2.2-libs/*
/debian/guile-2.2.install
/debian/guile-2.2.menu
/debian/guile-2.2.postinst
/debian/guile-2.2.postinst.debhelper
/debian/guile-2.2.postrm.debhelper
/debian/guile-2.2.prerm
/debian/guile-2.2.substvars
/debian/guile-2.2.undocumented
/debian/guile-2.2/*
/debian/no-trespassing/
/debian/tmp/*
/doc/ref/guile-2.2.texi
/doc/ref/standard-library.texi
/doc/ref/standard-libraryscmfiles
/examples/box-module/box
/examples/box/box
/lib/alloca.h
/lib/arg-nonnull.h
/lib/arpa/inet.h
/lib/c++defs.h
/lib/charset.alias
/lib/configmake.h
/lib/dirent.h
/lib/fcntl.h
/lib/iconv.h
/lib/langinfo.h
/lib/limits.h
/lib/link-warning.h
/lib/locale.h
/lib/math.h
/lib/netdb.h
/lib/poll.h
/lib/ref-add.sed
/lib/ref-del.sed
/lib/signal.h
/lib/stdalign.h
/lib/stdint.h
/lib/stdio.h
/lib/stdlib.h
/lib/string.h
/lib/strings.h
/lib/sys/file.h
/lib/sys/select.h
/lib/sys/socket.h
/lib/sys/stat.h
/lib/sys/time.h
/lib/sys/times.h
/lib/sys/types.h
/lib/sys/uio.h
/lib/time.h
/lib/unistd.h
/lib/unistr.h
/lib/unistr/.dirstamp
/lib/unitypes.h
/lib/unused-parameter.h
/lib/warn-on-use.h
/lib/wchar.h
/lib/wctype.h
/libguile/vm-operations.h
/meta/build-env
/meta/gdb-uninstalled-guile
/meta/guild
/meta/guile
/meta/guile-2.2-uninstalled.pc
/meta/guile-2.2.pc
/meta/guile-config
/meta/uninstalled-env
/module/ice-9/eval.go.stamp
/test-suite/standalone/test-foreign-object-c
/test-suite/standalone/test-pthread-create
/test-suite/standalone/test-pthread-create-secondary
/test-suite/standalone/test-scm-c-bind-keyword-arguments
/test-suite/standalone/test-scm-spawn-thread
/test-suite/standalone/test-scm-to-latin1-string
/test-suite/standalone/test-scm-values
/test-suite/standalone/test-smob-mark
/test-suite/standalone/test-smob-mark-race
/test-suite/standalone/test-srfi-4
BUGS
INSTALL
Makefile
Makefile.in
TAGS
aclocal.m4
autom4te.cache
benchmark-guile
build-aux/compile
check-guile
check-guile.log
confdefs.h
config.build-subdirs
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
conftest
conftest.c
cscope.files
cscope.out
depcomp
elisp-comp
gdb-pre-inst-guile
gds-test.debug
gds-test.transcript
guile-*.tar.gz
guile-config/guile-config
guile-procedures.txt
install-sh
libtool
ltconfig
ltmain.sh
mdate-sh
missing
mkinstalldirs
pre-inst-guile
pre-inst-guile-env
stamp-h1
texinfo.tex
version.texi
